VITE_SUPABASE_URL=https://xztwbrzpiirhzjiwuaia.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6dHdicnpwaWlyaHpqaXd1YWlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxNTM0OTEsImV4cCI6MjEwNDcyOTQ5MX0.NPkrIVqnOAIidip13WB4ljp4pNtO-06k3a1kht09aMk
VITE_SITE_URL=https://onemulticoncepts.com.ng
